body {
    background-color: rgb(255, 255, 255);
    font-family:'lucida sans', verdana, sans-serif;
}

h1 {
    text-align: center;
    color: rgb(0, 0, 0);
}

p {
    text-align: justify;
    width: fit-content;
}

.center{
    width: 50%;
    display: block;
    margin: auto;
    margin-right: auto;
}

.foto {
    background-color: rgb(255, 255, 255);
}

.foto img { 
    width: 23%;
}

.cod {
    margin: auto;
    width: 50%;
    
}

.cod p {
    background-color: rgb(106, 106, 106);
    border: 5px dotted white;

}