body {
    margin: 0;
    
}

header {
    background-color: aqua;
    display: flex;
    paddding: 0.5rem 1rem;
}

header img {
    width:  4rem;
    
}

header ul {
    display: flex;
    list-style: none;
    align-items: center;
}
    
header ul li {
    margin: 0 1rem;
}